div{
    width: 300px;
    background-color: red;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
img{
    opacity: 1;
}
h1{
    background-color: yellow;
    height: 300px;
    overflow: scroll;
}